#menuwriter {
  list-style: none outside;
  margin: 0px;
  padding: 0px;
}
#menuwriter ul, #menuwriter ul ul,#menuwriter ul ul ul{
  margin-top:2px; /* Margin above 2nd, 3rd, 4th level menus - make same as Margin below each Menu Item */
}
#menuwriter  li {
  list-style: none outside;
  background-image: none;
  padding:0;
  margin-left:0;
  margin-bottom:2px; /* Margin below each Menu Item */
}
#menuwriter  li a{
  display: block;
  height:28px; /* Menu Item Height */
  width: 180px;  /* Menu Item Width */
  overflow: hidden;
  position: relative ;top: 0px; left: 0px;
}
#menuwriter li.expanded, #menuwriter li.collapsed, #menuwriter li.leaf {
  list-style-type: none;
  list-style-image: none;
}
/* .over is added to menuwriter links by the jQuery script menuwriter.js when the mouse rolls over them*/
.over{
  position: relative ;top: -28px; left: 0px;  /*top needs to be the same as Menu Item Height*/
}